@import "./common/normalize";
@import "./common/fonts";
@import "./common/extends";
@import "./common/variables";

:root {
  scroll-behavior: smooth;
}

html {
  background-color: $color-light-xl;
  a {
    text-decoration: none;
  }
  body {
    max-width: 1280px;
    .header {
      position: sticky;
      top: 0;
      &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 40px 40px 20px;
        background-image: $color-light-xl;
      }
      .logo {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        &__title {
          @extend %ff-Georgia-Regular;
          @extend %fz-h1;
          color: $color-dark-l;
          margin: 0 0 9px 0;
        }
        &__subtitle {
          @extend %ff-Arial-Regular;
          @extend %fz-small-text;
          color: $color-dark-l;
          padding-left: 2px;
          letter-spacing: 1px;
        }
      }
      .menu {
        &__list {
          display: flex;
          justify-content: end;
          list-style-type: none;
          gap: 36px;
          &-item {
            @extend %ff-Arial-Regular;
            @extend %fz-text;
            color: $color-dark-l;
            cursor: pointer;
            &:after {
              content: "";
              width: 0%;
              border-bottom: 3px solid $color-primary;
              display: block;
              position: relative;
              transition: width 0.6s;
            }
            &:hover::after {
              width: 100%;
            }
            &--active::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
