@font-face {
  font-family: "ArialRegular";
  src: url("../../../assets/fonts/Arial/ArialRegular/arial.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialItalic";
  src: url("../../../assets/fonts/Arial/ArialItalic/ariali.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaRegular";
  src: url("../../../assets/fonts/Georgia/GeorgiaRegular/Georgia.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../../../assets/fonts/Georgia/GeorgiaItalic/georgiai.ttf");
  font-style: italic;
  font-weight: 400;
}
