%ff-Arial-Regular {
  font-family: "ArialRegular";
  font-style: normal;
  font-weight: 400;
}

%ff-Arial-Italic {
  font-family: "ArialItalic";
  font-style: italic;
  font-weight: 400;
}

%ff-Georgia-Regular {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
}

%ff-Georgia-Italic {
  font-family: "GeorgiaItalic";
  font-style: italic;
  font-weight: 400;
}
