%ff-Arial-Regular {
  font-family: "ArialRegular";
  font-style: normal;
  font-weight: 400;
}

%ff-Arial-Italic {
  font-family: "ArialItalic";
  font-style: italic;
  font-weight: 400;
}

%ff-Georgia-Regular {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
}

%ff-Georgia-Italic {
  font-family: "GeorgiaItalic";
  font-style: italic;
  font-weight: 400;
}

%fz-h1 {
  font-size: 32px;
  line-height: 35px;
}

%fz-h2 {
  font-size: 44px;
  line-height: 57px;
}

%fz-h3 {
  font-size: 35px;
  line-height: 45px;
}

%fz-h4 {
  font-size: 20px;
  line-height: 23px;
}

%fz-h5 {
  font-size: 15px;
  line-height: 17px;
}

%fz-text {
  font-size: 15px;
  line-height: 24px;
}

%fz-small-text {
  font-size: 14px;
  line-height: 16px;
}

%fz-small-text2 {
  font-size: 12px;
  line-height: 18px;
}

%fz-button {
  font-size: 17px;
  line-height: 22px;
}

%fz-burger-menu {
  font-size: 32px;
  line-height: 51px;
}
