@font-face {
  font-family: "ArialRegular";
  src: url("../../assets/fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../../assets/fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../../assets/fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
    url("../../assets/fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialItalic";
  src: url("../../assets/fonts/Arial/ArialItalic/ArialItalic.eot");
  src: url("../../assets/fonts/Arial/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
    url("../../assets/fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"),
    url("../../assets/fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaRegular";
  src: url("../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot");
  src: url("../../assets/fonts/Georgia/GeorgiaRegular/Georgia.eot?#iefix")format("embedded-opentype"),
    url("../../assets/fonts/Georgia/GeorgiaRegular/Georgia.woff") format("woff"),
    url("../../assets/fonts/Georgia/GeorgiaRegular/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot");
  src: url("../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.eot?#iefix")format("embedded-opentype"),
    url("../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.woff") format("woff"),
    url("../../assets/fonts/Georgia/GeorgiaItalic/Georgia-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}