$color-dark: #545454;

$color-dark-s: #cdcdcd;

$color-dark-m: #b2b2b2;

$color-dark-l: #545454;

$color-dark-xl: #4c4c4c;

$color-dark-3xl: #292929;

$color-dark-4xl: #000000;

$color-light-s: #fafafa;

$color-light-l: #f6f6f6;

$color-light-xl: #ffffff;

$color-primary: #f1cdb3;

$color-primary-light: #fddcc4;

$breakpoint-1279: 1279px;

$breakpoint-767: 767px;

$breakpoint-374: 374px;
