$color-dark: #545454;

$color-dark-s: #cdcdcd;

$color-dark-m: #b2b2b2;

$color-dark-l: #545454;

$color-dark-xl: #4c4c4c;

$color-dark-3xl: #292929;

$color-dark-4xl: #000000;

$color-light-s: #fafafa;

$color-light-l: #f6f6f6;

$color-light-xl: #ffffff;

$color-primary: #f1cdb3;

$breakpoint-laptop-2l: 1200px;

$breakpoint-laptop-l: 1100px;

$breakpoint-laptop: 1000px;

$breakpoint-tablet-l: 900px;

$breakpoint-tablet: 750px;

$breakpoint-tablet-s: 650px;

$breakpoint-mobile-l: 550px;

$breakpoint-mobile: 350px;
