.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 77px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding: 0 25px 0 25px;
      gap: 73px;
      flex-direction: column;
    }

    &-img {
      padding-top: 5px;
      @media screen and (max-width: $breakpoint-tablet-l) {
        padding-top: 7px;
        order: 2;
      }
    }
    
    img {
      width: 100%;
    }
  }

  &__container {
    &-inner {
      max-width: 430px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &-title {
      max-width: 370px;
    }

    &-text {
      @extend %ff-Arial-Regular;
      @extend %fz-text;
      color: $color-dark-xl;
      margin: 24px 0 1px 0;

      @media screen and (max-width: $breakpoint-mobile-l) {
        text-align: justify;
      }
    }
  }
}

.container-title {
  @extend %ff-Georgia-Regular;
  @extend %fz-h3;
  color: $color-dark-l;
  margin: 0;
  padding: 3px 0 0 0;
  letter-spacing: 2px;
  text-align: left;

  @media screen and (max-width: $breakpoint-mobile-l) {
    font-size: 25px;
    line-height: 33px;
    align-self: center;
    text-align: center;
    max-width: 300px;
  }
}