.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 77px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-laptop-s) {
      padding: 0 20px 0 20px;
      gap: 80px;
      flex-direction: column;
    }

    &-img {
      order: 2;
    }
  }

  &__container {
    &-inner {
      width: 430px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &-text {
      @extend %ff-Arial-Regular;
      @extend %fz-text;
      color: $color-dark-xl;
      margin: 24px 0 1px 0;
    }
  }
}

.container-title {
  @extend %ff-Georgia-Regular;
  @extend %fz-h3;
  color: $color-dark-l;
  margin: 0;
  padding: 3px 40px 0 0;
  letter-spacing: 2px;
}