.footer {
  padding: 0 40px 0 40px;
  background-image: url("../../../assets/images/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  @media screen and (max-width: $breakpoint-laptop-l) {
    padding: 0 0 0 40px;
  }

  @media screen and (max-width: $breakpoint-laptop) {
    padding: 0 65px 0 65px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0 0 0 5px;
  }

  &__content {
    justify-content: space-between;
    display: flex;

    @media screen and (max-width: $breakpoint-laptop) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding-top: 0;
      grid-gap: 48px;
    }

    &-img {
      padding-top: 40px;
      @media screen and (max-width: $breakpoint-laptop) {
        justify-self: center;
      }

      @media screen and (max-width: $breakpoint-tablet-l) {
        padding-top: 8px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-top: 42px;
    max-width: 740px;
    width: 100%;

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding-top: 11px;
      gap: 25px;
    }

    @media screen and (max-width: $breakpoint-tablet-s) {
      flex-direction: column;
      align-items: center;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &-title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h3;
      color: $color-light-xl;
      width: 280px;
      margin: 0;
      letter-spacing: 2px;
      padding-top: 15px;
      padding-right: 20px;

      @media screen and (max-width: $breakpoint-tablet-l) {
        padding-top: 20px;
      }

      @media screen and (max-width: $breakpoint-mobile-l) {
        text-align: center;
        font-size: 25px;
        line-height: 33px;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $breakpoint-tablet-l) {
      justify-content: space-evenly;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      grid-gap: 22px 30px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    height: 50px;

    &-email {
      background-image: url("../../../assets/icons/mail.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      justify-content: center;
    }

    &-phone {
      background-image: url("../../../assets/icons/phone.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      justify-content: center;
    }

    &-geo{
      justify-content: center;
      &:nth-child(1) {
        background-image: url("../../../assets/icons/pin.svg");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        width: 302px;
      }
      &:nth-child(2) {
        background-image: url("../../../assets/icons/pin.svg");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        width: 302px;
      }
      &:nth-child(1) .footer__link-geo {
        margin-left: 45px;
      }
      &:nth-child(2) .footer__link-geo {
        margin-left: 11px;
      }
    }
  }

  &__link {
    @extend %ff-Georgia-Regular;
    @extend %fz-h4;
    color: $color-primary;
    letter-spacing: 1px;
    transition: 0.6s;
    
    &:hover {
      color: $color-light-l;
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &-email {
      margin-left: 11px;
    }
  }
}