.header {
  position: sticky;
  top: 0;
  z-index: 5;

  @media screen and (max-width: $breakpoint-tablet-l) {
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: 187px minmax(auto, 443px);
    justify-content: space-between;
    padding: 60px 40px 20px 40px;
    gap: 20px;
    background-image: url("../../../assets/images/noise_transparent@2x.png"),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding: 30px 30px 20px 30px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      padding: 30px 10px 20px 30px;
    }

    @media screen and (max-width: $breakpoint-tablet-s) {
      grid-template-columns: 187px 0px 30px;
      padding: 31px 35px 20px 45px;
      gap: 0;
      justify-content: space-evenly;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      justify-content: start;
      gap: 20px;
      padding: 31px 15px 20px 10px;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    z-index: 25;

    &__link {
      cursor: pointer;
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &__title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h1;
      color: $color-primary;
      margin: 0 0 9px 0;
      letter-spacing: 2px;
    }

    &__subtitle {
      @extend %ff-Arial-Regular;
      @extend %fz-small-text;
      color: $color-light-xl;
      padding-left: 2px;
      letter-spacing: 1px;
    }
  }

  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;

      @media screen and (max-width: $breakpoint-tablet-s) {
        position: fixed;
        overflow: hidden;
        right: 0;
        top: 0;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 38px;
        text-align: center;
        background-color: $color-dark-3xl;
        transform: translateX(100%);
        transition: transform 0.8s;
        width: 85vw;
        height: 100vh;
        margin: 0;
        padding: 250px 0 0 0;

        & > li {
          max-width: 243px;
        }

        &--active {
          transform: translateX(0);
        }

        @media screen and (max-width: $breakpoint-mobile) {
          width: 100vw;
        }
      }

      &-item {
        @extend %ff-Arial-Regular;
        @extend %fz-text;
        color: $color-dark-s;
        cursor: pointer;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
        transition: 0.6s;

        @media screen and (max-width: $breakpoint-tablet-s) {
          font-size: 32px;
          line-height: 51px;
        }

        &-pets-page {
          @extend %ff-Arial-Regular;
          @extend %fz-text;
          color: $color-dark-s;
          cursor: pointer;
          cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
          transition: 0.6s;

          @media screen and (max-width: $breakpoint-tablet-s) {
            font-size: 32px;
            line-height: 51px;
          }

          &:hover {
            color: $color-light-s;
          }

          &:after {
            content: "";
            width: 0%;
            border-bottom: 3px solid $color-primary;
            display: block;
            position: relative;
            transition: width 0.6s;
          }

          &:hover::after {
            width: 100%;
          }

          &--active::after {
            width: 100%;
          }
        }

        &:hover {
          color: $color-light-s;
        }

        &--active {
          color: $color-light-s;
        }

        &:after {
          content: "";
          width: 0%;
          border-bottom: 3px solid $color-primary;
          display: block;
          position: relative;
          transition: width 0.6s;
        }

        &:hover::after {
          width: 100%;
        }
        
        &--active::after {
          width: 100%;
        }
      }
    }

    &__burger-button {
      display: none;
      width: 30px;
      height: 30px;
      z-index: 25;
      border: none;
      background: none;
      user-select: none;
      transition: all 0.5s ease-in-out;
      padding: 0;
      flex-direction: column;
      justify-self: flex-end;
      justify-content: center;
      align-self: center;
  
      &--active {
        transform: rotate(90deg)
      }
  
      @media screen and (max-width: $breakpoint-tablet-s) {
        display: flex;
      }
    }

    &__overlay {
      @media screen and (max-width: $breakpoint-tablet-s) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;

        &--active {
          display: block;
          background-color: rgba(41, 41, 41, 0.6);
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 2px;
    margin: 4px 0;
    background-color: $color-primary;
  }
}