.header {
  position: sticky;
  top: 0;
  z-index: 5;

  @media screen and (max-width: $breakpoint-tablet-l) {
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: 187px minmax(auto, 443px);
    justify-content: space-between;
    padding: 60px 40px 20px 40px;
    background-image: url("../../../assets/images/noise_transparent@2x.png"),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding: 30px 30px 20px 30px;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;

    &__link {
      cursor: pointer;
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &__title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h1;
      color: $color-primary;
      margin: 0 0 9px 0;
      letter-spacing: 2px;
    }

    &__subtitle {
      @extend %ff-Arial-Regular;
      @extend %fz-small-text;
      color: $color-light-xl;
      padding-left: 2px;
      letter-spacing: 1px;
    }
  }

  .menu {

    @media screen and (max-width: $breakpoint-tablet) {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;

      &-item {
        @extend %ff-Arial-Regular;
        @extend %fz-text;
        color: $color-primary;
        cursor: pointer;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;

        &-pets-page {
          @extend %ff-Arial-Regular;
          @extend %fz-text;
          color: $color-primary;
          cursor: pointer;
          cursor: url("../../../assets/icons/cursor-hover.svg"), auto;

          &:after {
            content: "";
            width: 0%;
            border-bottom: 3px solid $color-primary;
            display: block;
            position: relative;
            transition: width 0.6s;
          }

          &:hover::after {
            width: 100%;
          }

          &--active::after {
            width: 100%;
          }
        }

        &:after {
          content: "";
          width: 0%;
          border-bottom: 3px solid $color-primary;
          display: block;
          position: relative;
          transition: width 0.6s;
        }

        &:hover::after {
          width: 100%;
        }
        
        &--active::after {
          width: 100%;
        }
      }
    }
  }

  .burger__button {
    display: none;
    width: 50px;
    height: 50px;
    z-index: 10;
    border: none;
    background: none;
    user-select: none;
    transition: all 0.5s ease-in-out;

    &--active {
      opacity: 0;
      transform: rotate(270deg)
    }

    @media screen and (max-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      justify-self: flex-end;
      justify-content: center;
      align-self: flex-end;
    }
  }

  .line {
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: $color-primary;
  }
}