.in-addition {
  padding-bottom: 100px;
  background-color: $color-light-l;

  @media screen and (max-width: $breakpoint-tablet-l) {
    padding-bottom: 96px;
  }

  &__content {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
    grid-template-columns: 505px 380px;
    grid-gap: 30px;

    @media screen and (max-width: $breakpoint-laptop) {
      grid-template-columns: 505px;
      grid-template-rows: 380px;
      justify-content: center;
    }

    @media screen and (max-width: $breakpoint-tablet-l) {
      padding-top: 32px;
      grid-gap: 5px;
    }
    
    &-img {
      padding-top: 6px;

      @media screen and (max-width: $breakpoint-laptop) {
        grid-row: 2;
      }
    }
  }

  &__credit-card-number {
    @extend %ff-Georgia-Regular;
    @extend %fz-h4;
    color: $color-dark-l;
    letter-spacing: 1px;
    margin-left: 46px;
    cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
  }

  &__container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-laptop) {
      justify-self: center;
    }

    &-title {
      padding-right: 90px;
      margin-bottom: 13px;
    }

    &-subtitle {
      @extend %ff-Georgia-Regular;
      @extend %fz-h5;
      color: $color-dark-l;
      letter-spacing: 1px;
      margin: 6px 0 20px 0;
    }

    &-credit-card {
      width: 346px;
      padding: 8px 0 8px 0;
      display: flex;
      justify-content: center;
      background-color: $color-primary;
      border-radius: 9px;
      border: 2px solid $color-primary;
      background-image: url("../../../assets/icons/credit-card.svg");
      background-repeat: no-repeat;
      background-position: 4% 50%;
      transition: 0.6s;

      &:hover {
        background-color: $color-light-xl;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
    }

    &-text {
      @extend %ff-Arial-Italic;
      @extend %fz-small-text2;
      color: $color-dark-m;
      margin: 20px 0 0 0;
    }
  }
}