.our-friends {
  background-color: $color-light-l;
  padding-bottom: 101px;
  position: relative;

  @media screen and (max-width: $breakpoint-767) {
    padding-bottom: 42px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-button {
      @extend %ff-Georgia-Regular;
      @extend %fz-button;
      color: $color-dark-3xl;
      background-color: $color-primary;
      border-radius: 100px;
      border: 0;
      max-width: 261px;
      width: 100%;
      height: 52px;
      align-self: center;
      letter-spacing: 1px;
      border: 2px solid $color-primary;
      transition: 0.6s;

      &:hover {
        background-color: $color-light-xl;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
    }
  }

  &__wrapper {
    margin-bottom: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
    grid-gap: 12px;
    position: relative;

    @media screen and (max-width: $breakpoint-767) {
      padding: 0 25px 0 25px;
      grid-gap: 5px 10px;
      margin-bottom: 99px;
    }

    &-button {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $color-light-xl;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid $color-primary;
      transition: 0.6s;
      padding: 0;
      position: absolute;
      z-index: 10;

      &:nth-child(1) {
        background-image: url("../../../assets/icons/Arrow-prev.svg");
        left: 3.1%;
        top: 42.6%;

        @media screen and (max-width: $breakpoint-1279) {
          left: 4%;
        }

        @media screen and (max-width: $breakpoint-767) {
          left: 21.2%;
          top: 101%;
        }
      }

      &:nth-child(2) {
        background-image: url("../../../assets/icons/Arrow-next.svg");
        right: 3.1%;
        top: 42.6%;

        @media screen and (max-width: $breakpoint-1279) {
          right: 4%;
        }

        @media screen and (max-width: $breakpoint-767) {
          right: 21.2%;
          top: 101%;
        }
      }
      &:hover {
        background-color: $color-primary;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
    }
  }

  &__container {
    max-width: 1080px;
    overflow: hidden;
  }

  &__slider {
    display: grid;
    grid-template-columns: repeat(99, 33.33%);
    justify-content: space-between;
    transition: 0.5s;

    @media screen and (max-width: $breakpoint-1279) {
      grid-template-columns: repeat(99, 50%);
    }

    @media screen and (max-width: $breakpoint-767) {
      grid-template-columns: repeat(99, 100%);
    }
  }

  &__column {
    height: 435px;
    width: 270px;
    transition: 0.6s;
    border-radius: 9px;
    background-color: $color-light-s;
    margin-bottom: 15px;
    justify-self: center;

    // &:nth-child(1) .our-friends__column-image {
    //   background-image: url("../../../assets/images/pets-katrine.png");
    // }

    // &:nth-child(2) .our-friends__column-image {
    //   background-image: url("../../../assets/images/pets-jennifer.png");
    // }

    // &:nth-child(3) .our-friends__column-image {
    //   background-image: url("../../../assets/images/pets-woody.png");
    // }

    &:hover {
      box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &:hover .our-friends__column-button {
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      outline: 0;
    }

    &:hover .our-friends__column-button:after {
      width: 110%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 30px;
      text-align: center;
      border-radius: 9px;
    }

    &-image {
      background-position: center center;
      background-repeat: no-repeat;
      width: 270px;
      height: 270px;
    }

    &-pets-name {
      @extend %ff-Georgia-Regular;
      @extend %fz-h4;
      color: $color-dark-l;
      letter-spacing: 1px;
      padding: 0 10px 0 10px;
    }

    &-button {
      @extend %ff-Georgia-Regular;
      @extend %fz-button;
      color: $color-dark-3xl;
      background-color: $color-light-xl;
      border-radius: 100px;
      max-width: 187px;
      width: 100%;
      height: 52px;
      letter-spacing: 1px;
      transition: 0.6s;
      border: 2px solid $color-primary;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        display: block;
        background-color: $color-primary;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        z-index: -1;
        transition: width 0.4s ease-in-out;
      }
    }
  }
}

.content-title {
  @extend %ff-Georgia-Regular;
  @extend %fz-h3;
  color: $color-dark-l;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 58px;
  padding-top: 81px;

  @media screen and (max-width: $breakpoint-767) {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 1px;
    padding-top: 42px;
    margin-bottom: 40px;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
  opacity: 0;

  &--active {
    z-index: 25;
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &--active {
      z-index: 20;
      background-color: rgba(41, 41, 41, 0.6);
    }
  }

  &__close-button {
    background-image: url("../../../assets/icons/close-button.svg");
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    z-index: 25;
    transition: 0.5s;
    align-self: flex-end;

    &:hover {
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      background-color: $color-primary-light;
    }
  }

  &__content {
    position: relative;
    top: 17.2vh;
    display: flex;
    flex-direction: column;
    max-width: 983px;
    margin: 0 auto;
    opacity: 0;
    z-index: -1;

    &--active {
      z-index: 25;
      opacity: 1;
    }

    @media screen and (max-width: $breakpoint-1279) {
      top: 22.2vh;
      max-width: 720px;
    }

    @media screen and (max-width: $breakpoint-767) {
      max-width: 300px;
    }

    &-inner {
      max-width: 900px;
      max-height: 500px;
      width: 100%;
      gap: 29px;
      background-color: $color-light-s;
      display: flex;
      border-radius: 9px;
      justify-content: space-between;
      position: relative;
      align-self: center;

      @media screen and (max-width: $breakpoint-1279) {
        max-width: 630px;
        max-height: 350px;
        gap: 0;
      }

      @media screen and (max-width: $breakpoint-767) {
        max-width: 240px;
        max-height: 380px;
        justify-content: center;
      }
    }
  }

  &__content-image {
    width: 100%;
    max-width: 500px;
    border-radius: 16px;

    @media screen and (max-width: $breakpoint-1279) {
      max-width: 350px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    padding: 1px 20px 40px 0;
    width: 100%;

    @media screen and (max-width: $breakpoint-1279) {
      max-width: 270px;
      padding: 10px 0 0 7px;
      justify-content: flex-start;
    }

    @media screen and (max-width: $breakpoint-767) {
      text-align: center;
      padding: 9px 0 17px 0;
    }

    &-pet-name {
      @extend %fz-h3;
      @extend %ff-Georgia-Regular;
      color: $color-dark-4xl;
      margin: 0;
      letter-spacing: 0.06em;
    }

    &-pet-breed {
      @extend %fz-h4;
      @extend %ff-Georgia-Regular;
      margin: 0;
      padding-top: 9px;
      letter-spacing: 0.06em;

      @media screen and (max-width: $breakpoint-1279) {
        padding: 9px 0 0 0;
      }
    }

    &-pet-description {
      font-size: 15px;
      line-height: 17px;
      @extend %ff-Georgia-Regular;
      margin: 0;
      padding-top: 40px;
      letter-spacing: 0.06em;

      @media screen and (max-width: $breakpoint-1279) {
        font-size: 13px;
        line-height: 14px;
        padding: 22px 5px 0 0;
      }

      @media screen and (max-width: $breakpoint-767) {
        text-align: justify;
        padding: 22px 5px 0 5px;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding-top: 40px;
      letter-spacing: 0.06em;

      @media screen and (max-width: $breakpoint-1279) {
        padding: 24px 0 0 0;
        gap: 6px;
      }

      @media screen and (max-width: $breakpoint-767) {
        align-items: flex-start;
        text-align: left;
        padding: 24px 0 0 11px;
      }
    }

    &-pet-item {
      font-size: 15px;
      line-height: 17px;
      @extend %ff-Georgia-Bold;

      &:before {
        content: "";
        display: inline-flex;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-primary;
        margin-right: 10px;
        align-items: flex-end;
      }

      & > span {
        @extend %ff-Georgia-Regular;
      }
    }
  }
}
