.our-friends {
  background-color: $color-light-l;
  padding-bottom: 101px;

  @media screen and (max-width: $breakpoint-mobile-l) {
    padding-bottom: 42px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-button {
      @extend %ff-Georgia-Regular;
      @extend %fz-button;
      color: $color-dark-3xl;
      background-color: $color-primary;
      border-radius: 100px;
      border: 0;
      max-width: 261px;
      width: 100%;
      height: 52px;
      align-self: center;
      letter-spacing: 1px;
      border: 2px solid $color-primary;
      transition: 0.6s;

      &:hover {
        background-color: $color-light-xl;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
    }
  }

  &__wrapper {
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: minmax(0px, 52px) minmax(150px, 990px) minmax(0px, 52px);
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    grid-gap: 12px;

    @media screen and (max-width: $breakpoint-laptop-l) {
      padding: 0 30px 0 30px;
    }
    
    @media screen and (max-width: $breakpoint-mobile-l) {
      padding: 0 25px 0 25px;
      grid-gap: 5px 10px;
      margin-bottom: 27px;
    }

    &-button {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $color-light-xl;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid $color-primary;
      transition: 0.6s;
      padding: 0;
      margin-bottom: 15px;

      &:nth-child(1) {
        background-image: url("../../../assets/icons/Arrow-prev.svg");

        @media screen and (max-width: $breakpoint-mobile-l) {
          grid-column: 2;
          grid-row: 2;
          justify-self: start;
        }
      }

      &:nth-child(2) {
        background-image: url("../../../assets/icons/Arrow-next.svg");
        order: 4;

        @media screen and (max-width: $breakpoint-mobile-l) {
          grid-column: 2;
          grid-row: 2;
          justify-self: end;
        }
      }
      &:hover {
        background-color: $color-primary;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
    }
  }

  &__container {
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: $breakpoint-laptop-l) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: $breakpoint-tablet-l) {
      justify-content: space-between;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      justify-content: center;
    }

    @media screen and (max-width: $breakpoint-mobile-l) {
      grid-column: 2;
    }
  }

  &__column {
    height: 435px;
    width: 270px;
    transition: 0.6s;
    border-radius: 9px;
    background-color: $color-light-s;
    margin-bottom: 15px;
    display: block;

    &:nth-child(1) .our-friends__column-image {
      background-image: url('../../../assets/images/pets-katrine.png');
    }

    &:nth-child(2) .our-friends__column-image {
      background-image: url('../../../assets/images/pets-jennifer.png');
    }

    &:nth-child(3) .our-friends__column-image {
      background-image: url('../../../assets/images/pets-woody.png');
    }

    @media screen and (max-width: $breakpoint-laptop-l) {
      &:nth-child(3) {
        display: none;
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      &:nth-child(2) {
        display: none;
      }
    }

    &:hover {
      box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &:hover .our-friends__column-button {
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      outline: 0;
    }

    &:hover .our-friends__column-button:after {
      width: 110%;
    }


    &-item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 30px;
      text-align: center;
      border-radius: 9px;
    }

    &-image {
      background-position: center center;
      background-repeat: no-repeat;
      width: 270px;
      height: 270px;
    }

    &-pets-name {
      @extend %ff-Georgia-Regular;
      @extend %fz-h4;
      color: $color-dark-l;
      letter-spacing: 1px;
      padding: 0 10px 0 10px;
    }

    &-button {
      @extend %ff-Georgia-Regular;
      @extend %fz-button;
      color: $color-dark-3xl;
      background-color: $color-light-xl;
      border-radius: 100px;
      max-width: 187px;
      width: 100%;
      height: 52px; 
      letter-spacing: 1px;
      transition: 0.6s;
      border: 2px solid $color-primary;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: $color-primary;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        z-index: -1;
        transition: width 0.4s ease-in-out;
      }
    }
  }
}

.content-title {
  @extend %ff-Georgia-Regular;
  @extend %fz-h3;
  color: $color-dark-l;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 58px;
  padding-top: 81px;

  @media screen and (max-width: $breakpoint-mobile-l) {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 1px;
    padding-top: 42px;
    margin-bottom: 40px;
  }
}