@import "./common/normalize";
@import "./common/fonts";
@import "./common/extends";
@import "./common/variables";

:root {
  scroll-behavior: smooth;
}

html {
  background-color: $color-light-xl;
  a {
    text-decoration: none;
  }
  body {
    max-width: 1280px;
    cursor: url("../../../assets/icons/cursor.svg"), auto;
    .header {
      position: sticky;
      top: 0;
      z-index: 5;
      &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 40px 20px 20px;
        background-image: url("../../../assets/images/noise_transparent@2x.png"),
          radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
      }
      .logo {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        &__title {
          @extend %ff-Georgia-Regular;
          @extend %fz-h1;
          color: $color-primary;
          margin: 0 0 9px 0;
          letter-spacing: 2px;
        }
        &__subtitle {
          @extend %ff-Arial-Regular;
          @extend %fz-small-text;
          color: $color-light-xl;
          padding-left: 2px;
          letter-spacing: 1px;
        }
      }
      .menu {
        &__list {
          display: flex;
          justify-content: end;
          list-style-type: none;
          gap: 36px;
          &-item {
            @extend %ff-Arial-Regular;
            @extend %fz-text;
            color: $color-primary;
            cursor: pointer;
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
            &-pets-page {
              @extend %ff-Arial-Regular;
              @extend %fz-text;
              color: $color-primary;
              cursor: pointer;
              cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
              &:after {
                content: "";
                width: 0%;
                border-bottom: 3px solid $color-primary;
                display: block;
                position: relative;
                transition: width 0.6s;
              }
              &:hover::after {
                width: 100%;
              }
              &--active::after {
                width: 100%;
              }
            }
            &:after {
              content: "";
              width: 0%;
              border-bottom: 3px solid $color-primary;
              display: block;
              position: relative;
              transition: width 0.6s;
            }
            &:hover::after {
              width: 100%;
            }
            &--active::after {
              width: 100%;
            }
          }
        }
      }
    }
    .not-only {
      padding-top: 20px;
      margin-bottom: 76px;
      background-image: url("../../../assets/images/noise_transparent@2x.png"),
        radial-gradient(100% 215.42% at 0% 100%, #5b483a 0%, #262425 100%);
      &__container {
        display: flex;
        align-items: center;
      }
      &__content {
        display: flex;
        justify-content: space-evenly;
        padding-top: 19px;
        &-inner {
          max-width: 460px;
          display: inline-flex;
          flex-direction: column;
          margin-bottom: 84px;
          gap: 41px;
        }
        &-title {
          @extend %ff-Georgia-Regular;
          @extend %fz-h2;
          color: $color-light-xl;
          margin: 0;
          padding-right: 140px;
        }
        &-text {
          @extend %ff-Arial-Regular;
          @extend %fz-text;
          color: $color-dark-s;
        }
        &-button {
          @extend %ff-Georgia-Regular;
          @extend %fz-button;
          letter-spacing: 1px;
          background-color: $color-primary;
          color: $color-dark-3xl;
          border: 0;
          border-radius: 100px;
          cursor: pointer;
          width: 207px;
          height: 51px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 2px solid $color-primary;
          transition: 0.6s;
          &:hover {
            background-color: $color-light-xl;
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
          }
        }
      }
    }
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 77px;
      &__content {
        display: flex;
        justify-content: center;
        gap: 120px;
        margin-bottom: 20px;
      }
      &__container {
        padding-top: 13px;
        &-inner {
          width: 430px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        &-text {
          @extend %ff-Arial-Regular;
          @extend %fz-text;
          color: $color-dark-xl;
          margin: 24px 0 1px 0;
        }
      }
    }
    .container-title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h3;
      color: $color-dark-l;
      margin: 0;
      padding: 3px 40px 0 0;
      letter-spacing: 2px;
    }
    .our-friends {
      background-color: $color-light-l;
      padding-bottom: 101px;
      &__content {
        display: flex;
        flex-direction: column;
        &-button {
          @extend %ff-Georgia-Regular;
          @extend %fz-button;
          color: $color-dark-3xl;
          background-color: $color-primary;
          border-radius: 100px;
          border: 0;
          max-width: 261px;
          width: 100%;
          height: 52px;
          align-self: center;
          letter-spacing: 1px;
          border: 2px solid $color-primary;
          transition: 0.6s;
          &:hover {
            background-color: $color-light-xl;
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
          }
        }
      }
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 60px;
        &-button {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: $color-light-xl;
          width: 52px;
          height: 52px;
          border-radius: 100px;
          border: 2px solid $color-primary;
          transition: 0.6s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          &:hover {
            background-color: $color-primary;
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
          }
          &:nth-child(1) {
            background-image: url("../../../assets/icons/Arrow-prev.svg");
          }
          &:nth-child(2) {
            background-image: url("../../../assets/icons/Arrow-next.svg");
            order: 4;
          }
        }
      }
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 90px;
      }
      &__column {
        width: 270px;
        height: 435px;
        transition: 0.6s;
        border-radius: 9px;
        background-color: $color-light-s;
        &:nth-child(1) .our-friends__column-image {
          background-image: url("../../../assets/images/pets-katrine.png");
        }
        &:nth-child(2) .our-friends__column-image {
          background-image: url("../../../assets/images/pets-jennifer.png");
        }
        &:nth-child(3) .our-friends__column-image {
          background-image: url("../../../assets/images/pets-woody.png");
        }
        &:hover {
          box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
          cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
        }
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          width: 270px;
          text-align: center;
          border-radius: 9px;
        }
        &-image {
          background-position: center center;
          background-repeat: no-repeat;
          width: 270px;
          height: 270px;
        }
        &-pets-name {
          @extend %ff-Georgia-Regular;
          @extend %fz-h4;
          color: $color-dark-l;
          letter-spacing: 1px;
          padding: 0 10px 0 10px;
        }
        &-button {
          @extend %ff-Georgia-Regular;
          @extend %fz-button;
          color: $color-dark-3xl;
          background-color: $color-light-xl;
          border-radius: 100px;
          max-width: 187px;
          width: 100%;
          height: 52px; 
          letter-spacing: 1px;
          transition: 0.6s;
          border: 2px solid $color-primary;
          position: relative;
          overflow: hidden;
          z-index: 1;
          &:after {
            content: '';
            position: absolute;
            display: block;
            background-color: $color-primary;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            z-index: -1;
            transition: width 0.4s ease-in-out;
          }
          &:hover {
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
            outline: 0;
          }
          &:hover:after {
            width: 110%;
          }
        }
      }
    }
    .content-title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h3;
      color: $color-dark-l;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 2px;
      margin-top: 0;
      margin-bottom: 59px;
      padding-top: 81px;
    }
    .help {
      margin-bottom: 99px;
      &__wrapper {
        &-items {
          display: flex;
          padding-left: 67px;
          padding-right: 67px;
          justify-content: center;
          flex-wrap: wrap;
          gap: 55px 122px;
        }
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          &:nth-child(1) .help__wrapper-image {
            background-image: url("../../../assets/icons/pet-food.svg");
          }
          &:nth-child(2) .help__wrapper-image {
            background-image: url("../../../assets/icons/transportation.svg");
          }
          &:nth-child(3) .help__wrapper-image {
            background-image: url("../../../assets/icons/toys.svg");
          }
          &:nth-child(4) .help__wrapper-image {
            background-image: url("../../../assets/icons/bowls-and-cups.svg");
          }
          &:nth-child(5) .help__wrapper-image {
            background-image: url("../../../assets/icons/shampoos.svg");
          }
          &:nth-child(6) .help__wrapper-image {
            background-image: url("../../../assets/icons/vitamins.svg");
          }
          &:nth-child(7) .help__wrapper-image {
            background-image: url("../../../assets/icons/medicines.svg");
          }
          &:nth-child(8) .help__wrapper-image {
            background-image: url("../../../assets/icons/collars-or-leashes.svg");
          }
          &:nth-child(9) .help__wrapper-image {
            background-image: url("../../../assets/icons/sleeping-area.svg");
          }
        }
        &-image {
          width: 60px;
          height: 60px;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &-text {
          @extend %ff-Georgia-Regular;
          @extend %fz-h4;
          color: $color-dark-l;
          letter-spacing: 1px;
          margin: 0;
        }
      }
    }
    .in-addition {
      padding-bottom: 100px;
      background-color: $color-light-l;
      &__content {
        display: flex;
        justify-content: center;
        padding-top: 78px;
        gap: 30px;
        &-img {
          padding-top: 13px;
        }
      }
      &__credit-card-number {
        @extend %ff-Georgia-Regular;
        @extend %fz-h4;
        color: $color-dark-l;
        letter-spacing: 1px;
        margin-left: 46px;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }
      &__container {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-title {
          padding-right: 90px;
          margin-bottom: 13px;
        }
        &-subtitle {
          @extend %ff-Georgia-Regular;
          @extend %fz-h5;
          color: $color-dark-l;
          letter-spacing: 1px;
          margin: 6px 0 20px 0;
        }
        &-credit-card {
          width: 346px;
          padding: 8px 0 8px 0;
          display: flex;
          justify-content: center;
          background-color: $color-primary;
          border-radius: 9px;
          border: 2px solid $color-primary;
          background-image: url("../../../assets/icons/credit-card.svg");
          background-repeat: no-repeat;
          background-position: 4% 50%;
          transition: 0.6s;
          &:hover {
            background-color: $color-light-xl;
            cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
          }
        }
        &-text {
          @extend %ff-Arial-Italic;
          @extend %fz-small-text2;
          color: $color-dark-m;
          margin: 20px 0 0 0;
        }
      }
    }
    .footer {
      padding: 0px 40px 0 40px;
      background-image: url("../../../assets/images/noise_transparent@2x.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
      &__content {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
      }
      &__container {
        display: flex;
        flex-direction: column;
        padding-top: 2px;
        gap: 30px;
        &-inner {
          display: flex;
          gap: 160px;
        }
        &-title {
          @extend %ff-Georgia-Regular;
          @extend %fz-h3;
          color: $color-light-xl;
          width: 280px;
          margin: 0;
          letter-spacing: 2px;
          padding-top: 15px;
        }
      }
      &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 128px;
        row-gap: 22px;
        margin: 0;
        padding: 0;
      }
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 50px;
      }
      &__link {
        @extend %ff-Georgia-Regular;
        @extend %fz-h4;
        color: $color-primary;
        letter-spacing: 1px;
        transition: 0.6s;
        &:hover {
          color: $color-light-l;
          cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
        }
      }
    }
    .item-email {
      background-image: url("../../../assets/icons/mail.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    .item-phone {
      background-image: url("../../../assets/icons/phone.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    .item-geo1,
    .item-geo2 {
      background-image: url("../../../assets/icons/pin.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    .link-phone {
      margin-right: 11px;
    }
    .link-geo1 {
      margin-left: 26px;
    }
    .link__geo2 {
      margin-left: 1px;
    }
  }
}