.footer {
  padding: 0 40px 0 40px;
  background-image: url("../../../assets/images/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  &__content {
    justify-content: space-between;
    display: flex;

    @media screen and (max-width: $breakpoint-1279) {
      flex-direction: column;
      align-items: center;
      gap: 56px;
    }

    @media screen and (max-width: $breakpoint-767) {
      gap: 32px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-top: 42px;
    max-width: 740px;
    width: 100%;

    @media screen and (max-width: $breakpoint-1279) {
      padding-top: 16px;
      justify-content: center;
      gap: 55px;
    }

    @media screen and (max-width: $breakpoint-767) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &:nth-child(2) .footer__container-title {
        padding-left: 3px;

        @media screen and (max-width: $breakpoint-767) {
          padding-left: 11px;
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: $breakpoint-767) {
          gap: 36px;
        }
      }
    }

    &-title {
      @extend %ff-Georgia-Regular;
      @extend %fz-h3;
      color: $color-light-xl;
      width: 280px;
      margin: 0;
      letter-spacing: 2px;
      padding-top: 15px;

      @media screen and (max-width: $breakpoint-767) {
        text-align: center;
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 1px;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $breakpoint-767) {
      grid-gap: 22px 30px;
      justify-content: space-evenly;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    height: 50px;

    &-email {
      background-image: url("../../../assets/icons/mail.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      justify-content: center;

      @media screen and (max-width: $breakpoint-767) {
        background-position: 6% 45%;
      }
    }

    &-phone {
      background-image: url("../../../assets/icons/phone.svg");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      justify-content: center;

      @media screen and (max-width: $breakpoint-767) {
        background-position: 8% 45%;
      }
    }

    &-geo {
      justify-content: center;
      &:nth-child(1) {
        background-image: url("../../../assets/icons/pin.svg");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        width: 302px;

        @media screen and (max-width: $breakpoint-767) {
          margin-bottom: 5px;
        }
      }
      &:nth-child(2) {
        background-image: url("../../../assets/icons/pin.svg");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        width: 302px;
      }
      &:nth-child(1) .footer__link-geo {
        margin-left: 45px;
      }
      &:nth-child(2) .footer__link-geo {
        margin-left: 11px;
      }
    }
  }

  &__link {
    @extend %ff-Georgia-Regular;
    @extend %fz-h4;
    color: $color-primary;
    letter-spacing: 1px;
    transition: 0.6s;

    &:hover {
      color: $color-light-l;
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &-email {
      margin-left: 30px;

      @media screen and (max-width: $breakpoint-767) {
        margin-left: 60px;
      }
    }

    &-phone {
      margin-left: 16px;

      @media screen and (max-width: $breakpoint-767) {
        margin-left: 60px;
      }
    }
  }
}
