.our-friends {
  background-color: $color-light-l;
  padding-bottom: 100px;

  @media screen and (max-width: $breakpoint-tablet-l)  {
    padding-bottom: 76px;
  }

  @media screen and (max-width: $breakpoint-mobile-l) {
    padding-bottom: 42px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: $breakpoint-tablet-l) {
        gap: 10px;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        gap: 5px;
      }
    }

    &-button {
      width: 52px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid $color-primary;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $color-light-l;
      transition: 0.6s;

      &:hover {
        background-color: $color-primary;
        cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      }

      .icon {
        fill: $color-dark-3xl;
      }

      &-number {
        @extend %ff-Georgia-Regular;
        @extend %fz-h4;
        text-align: center;
        background-color: $color-primary;
        color: $color-dark-xl;
        border-radius: 100px;
        border: 2px solid $color-primary;
        width: 52px;
        height: 52px;
        cursor: url("../../../assets//icons/cursor.svg"), auto;
      }

      &--empty {
        border: 2px solid $color-dark-s;
        cursor: url("../../../assets//icons/cursor.svg"), auto;

        &:hover {
          background-color: $color-light-l;
          cursor: url("../../../assets//icons/cursor.svg"), auto;
        }

        .icon {
          fill: $color-dark-s;
          transition: 0.6s;
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
    grid-gap: 13px;

    @media screen and (max-width: $breakpoint-tablet-l) {
      margin-bottom: 42px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px 5px;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-laptop-2l) {
      display: grid;
      grid-template-columns: repeat(3, 270px);
      grid-gap: 30px 10px;
    }

    @media screen and (max-width: $breakpoint-tablet-l) {
      grid-template-columns: repeat(2, 270px);
      padding: 0 63px 0 63px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      padding: 0 15px 0 15px;
    }

    @media screen and (max-width: $breakpoint-tablet-s) {
      grid-template-columns: repeat(1, 270px);
    }
  }

  &__column {
    height: 435px;
    transition: 0.6s;
    border-radius: 9px;
    background-color: $color-light-s;
    display: grid;

    @media screen and (max-width: $breakpoint-laptop-2l) {
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
    
    @media screen and (max-width: $breakpoint-tablet-s) {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }

    &:nth-child(1) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-katrine.png");
    }

    &:nth-child(2) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-jennifer.png");
    }

    &:nth-child(3) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-woody.png");
    }

    &:nth-child(4) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-sophia.png");
    }

    &:nth-child(5) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-timmy.png");
    }

    &:nth-child(6) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-charly.png");
    }

    &:nth-child(7) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-scarlett.png");
    }

    &:nth-child(8) .our-friends__column-image {
      background-image: url("../../../assets/images/pets-freddie.png");
    }

    &:hover {
      box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
    }

    &:hover .our-friends__column-button {
      cursor: url("../../../assets/icons/cursor-hover.svg"), auto;
      outline: 0;
    }

    &:hover .our-friends__column-button:after {
      width: 110%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 30px;
      text-align: center;
      border-radius: 9px;
    }

    &-image {
      background-position: center center;
      background-repeat: no-repeat;
      width: 270px;
      height: 270px;
    }

    &-pets-name {
      @extend %ff-Georgia-Regular;
      @extend %fz-h4;
      color: $color-dark-l;
      letter-spacing: 1px;
      padding: 0 10px 0 10px;
    }

    &-button {
      @extend %ff-Georgia-Regular;
      @extend %fz-button;
      color: $color-dark-3xl;
      background-color: $color-light-xl;
      border-radius: 100px;
      max-width: 187px;
      width: 100%;
      height: 52px; 
      letter-spacing: 1px;
      transition: 0.6s;
      border: 2px solid $color-primary;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: $color-primary;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        z-index: -1;
        transition: width 0.4s ease-in-out;
      }
    }
  }
}

.content-title {
  @extend %ff-Georgia-Regular;
  @extend %fz-h3;
  color: $color-dark-l;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 59px;
  padding-top: 81px;

  @media screen and (max-width: $breakpoint-tablet-l) {
    margin-bottom: 29px;
  }

  @media screen and (max-width: $breakpoint-mobile-l) {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 1px;
    padding-top: 51px;
    margin-bottom: 40px;
  }
}