@import "../main/common/normalize";
@import "../main/common/fonts";
@import "../main/common/extends";
@import "../main/common/variables";
@import "./scss/header";
@import "./scss/our-friends";
@import "./scss/footer";

:root {
  scroll-behavior: smooth;
}

html {
  background-color: $color-light-xl;
  cursor: url("../../../assets/icons/cursor.svg"), auto;

  a {
    text-decoration: none;
  }

  body {
    max-width: 1280px;
  }
  body.lock {
    overflow: hidden;
  }
}
